<div class="row">
  <div class="col-xs-11 col-ms-11 col-md-1 col-lg-1">
  </div>
  <div class="col-xs-10 col-ms-10 col-md-10 col-lg-10">
    <div class="bd-pageheader">
      <h1><%= I18n.t('title') %></h1>
    </div>
    <%= render "exchange_calculator" %>
  </div>
  <div class="col-xs-11 col-ms-11 col-md-1 col-lg-1">
  </div>
</div>
