// Place all the styles related to the currency_converters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bd-pageheader{
  padding: 2rem 15px;
  margin-bottom: 1.5rem;
  color: #74a4f2;
  text-align: center;
  background-color: #114dad;
}
